.colores{
    display: flex;
    margin: 10px;
}
.mrg{
    margin: 5px;
}

.com{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    gap: 20px;
}

.selects{
    display: flex;
    flex-direction: column;
}

.select{
    width: 250px;
}

.container{
    width: 500px;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.boton-quitar{
    width: 150px;
}

.btn-enviar{
    display: flex;
    justify-content: end;
}